@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using RazorPagesExample.Shiny.HtmlExtensions

<div class="text-center">
    <h1 class="display-4">Shiny(ish)</h1>
    <p>@Html.ShinySliderInput("mainSlider", "Number of buckets", 1, 10, 5)</p>
    <p>
        Slider value:
        @Html.VerbatimTextOutput("sliderText")
    </p>
    <p> A plot:
        @Html.ShinyPlotOutput("mainPlot")
    </p>
</div>
